<!-- email dialog -->
<div id="ew-email-dialog" class="modal" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-fullscreen-sm-down">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title"></h5>
            </div>
            <div class="modal-body">
                <form id="ew-email-form" class="ew-form" action="@AppPath(CurrentPageName())" novalidate autocomplete="on">
                    @if (CurrentPage.CheckToken) {
                        <input type="hidden" name="@Config.TokenNameKey" value="@Config.TokenName"><!-- CSRF token name -->
                        @Html.AntiForgeryToken()
                    }
                    <input type="hidden" name="tblvar" id="tblvar" value="@(CurrentTable?.TableVar ?? "")">
                    <input type="hidden" name="export" id="export" value="email">
                    <div class="row mb-3">
                        <label class="col-sm-2 col-form-label ew-label" for="sender">@Html.Raw(Language.Phrase("EmailFormSender"))</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control ew-form-control" name="sender" id="sender">
                            <div class="invalid-feedback"></div>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <label class="col-sm-2 col-form-label ew-label" for="recipient">@Html.Raw(Language.Phrase("EmailFormRecipient"))</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control ew-form-control" name="recipient" id="recipient">
                            <div class="invalid-feedback"></div>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <label class="col-sm-2 col-form-label ew-label" for="cc">@Html.Raw(Language.Phrase("EmailFormCc"))</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control ew-form-control" name="cc" id="cc">
                            <div class="invalid-feedback"></div>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <label class="col-sm-2 col-form-label ew-label" for="bcc">@Html.Raw(Language.Phrase("EmailFormBcc"))</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control ew-form-control" name="bcc" id="bcc">
                            <div class="invalid-feedback"></div>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <label class="col-sm-2 col-form-label ew-label" for="subject">@Html.Raw(Language.Phrase("EmailFormSubject"))</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control ew-form-control" name="subject" id="subject">
                            <div class="invalid-feedback"></div>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <label class="col-sm-2 col-form-label ew-label" for="message">@Html.Raw(Language.Phrase("EmailFormMessage"))</label>
                        <div class="col-sm-10">
                            <textarea class="form-control ew-form-control" rows="6" name="message" id="message"></textarea>
                            <div class="invalid-feedback"></div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary ew-btn">@Html.Raw(Language.Phrase("SendEmailBtn"))</button>
                <button type="button" class="btn btn-default ew-btn" data-bs-dismiss="modal">@Html.Raw(Language.Phrase("CancelBtn"))</button>
            </div>
        </div>
    </div>
</div>
